<!-- item-master.component.html -->
<div class="card">
    <div class="card-header">
      <h2 class="text-center"> -- Item Master --</h2>
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="searchText">
    </div>
  
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="text-center">
          <tr>
        <!-- <th>Select Item</th>
        <th>Item Name</th>
        <th>Item Balance</th>
        <th>Item Code</th>
        <th>Barcode Details</th>
        <th>Seq</th>
        <th>HSN Code</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>MRP</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Eff.Rate</th>
        <th>Eff. Value</th>
        <th>Net Rate</th>
        <th>Discount Rate</th>
        <th>Discount Value</th>
        <th>Add Rate</th>
        <th>Add Value</th>
        <th>Tax Code</th>
        <th>Taxable</th>
        <th>Tax Rate</th>
        <th>Tax Amount</th>
        <th>IGST</th>
        <th>CGST</th>
        <th>SGST</th>
        <th>Cess Calculation</th>
        <th>Installation Req.</th>
        <th>Posting GL</th>
        <th>Lead Time</th>
        <th>Make</th>
        <th>Markup%</th>
        <th>Sales Rate</th>
        <th>Wholesale Market</th>
        <th>Wholesale Rate</th>
        <th>Dealer Markup%</th>
        <th>Dealer Rate</th>
        <th>Warranty Months</th>
        <th>Model #</th>
        <th>Category Name</th>
        <th>Type</th> -->
            <th>Select</th>
            <th>Item Name</th>
            <th>Code</th>
            <th>HSN Code</th>
            <th>Model #</th>
            <th>Category Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventory" class="text-center">
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="item.checked">
            </td>
            <!-- <td>{{item.item_name}}</td>
            <td>{{item.item_balance}}</td>
            <td>{{item.item_code}}</td>
            <td>{{item.item_barcode}}</td>
            <td>{{item.item_seq}}</td>
            <td>{{item.item_hsn_code}}</td>
            <td>{{item.item_unit}}</td>
            <td>{{item.item_quantity}}</td>
            <td>{{item.item_mrp}}</td>
            <td>{{item.item_rate}}</td>
            <td>{{item.item_amount}}</td>
            <td>{{item.item_eff_rate}}</td>
            <td>{{item.item_eff_value}}</td>
            <td>{{item.item_net_rate}}</td>
            <td>{{item.item_disc_rate}}</td>
            <td>{{item.item_disc_value}}</td>
            <td>{{item.item_add_rate}}</td>
            <td>{{item.item_add_value}}</td>
            <td>{{item.item_tax_code}}</td>
            <td>{{item.item_taxable}}</td>
            <td>{{item.item_tax_rate}}</td>
            <td>{{item.item_tax_amt}}</td>
            <td>{{item.item_igst}}</td>
            <td>{{item.item_cgst}}</td>
            <td>{{item.item_sgst}}</td>
            <td>{{item.item_cess_calc}}</td>
            <td>{{item.item_install_req}}</td>
            <td>{{item.item_posting_gl}}</td>
              <td>{{item.item_lead_time}}</td>
              <td>{{item.item_make}}</td>
              <td>{{item.item_markup_per}}</td>
              <td>{{item.item_sales_rate}}</td>
              <td>wholessale market</td>
              <td>wholesale rate</td>
              <td>dealer markup%</td>
              <td>dealer rate</td>
              <td>warranty months</td>
            <td>{{item.item_model_no}}</td>
            <td>{{item.item_cat}}</td>
            <td>{{item.item_type}}</td> -->
            <td>{{item.item_name}}</td>
            <td>{{item.item_code}}</td>
            <td>{{item.item_hsn_code}}</td>
            <td>{{item.item_model_no}}</td>
            <td>{{item.item_cat}}</td>
            <td>{{item.item_type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="from-group text-center">
      <button (click)="saveCheckedData()" class="btn btn-primary">Save Checked Data</button>&nbsp;
      <!-- <a class="btn btn-danger" href="dest" >Cancel</a> -->
    </div>
    <br>
  </div>
  