<div class="py-10">
  <div class="container">
      <div class="row justify-content-center">
  
          <div class="col-md-18">
      
             <div class="card shadow">
        
              <div class="card-header">
                  <h2 class="text-center">-- Enquiry --</h2>
              </div>
              <div class="card-body">
                <form  [formGroup]="addfollow_up" novalidate class="form">

                  <div class="row">
                    <div class="col-md-4">
                  <div class="form-group mb-4">
                    <label for="">Enquiry On</label>
                    <select  formControlName="enq_on" class="form-control">
                        <option>Amount</option>
                        <option>Qty</option>
                     
                
                      </select>
                  
                  </div>
                  </div>
                  <!-- <div class="col-md-5">
                  <div class="form-group mb-3">
                    <label for="">Name</label>
                    <input type="text" formControlName="exec_name" class="form-control">
                  
                  </div>
                  
                  </div> -->
                  </div>
<div class="row">

   <div class="col-md-4">
                  <div class="form-group mb-4">
                    <label for="">Enquiry By</label>
                    <select  formControlName="enq_by" class="form-control">
                      <option>Amount</option>
                      <option>Qty</option>
                   
              
                    </select>
                  
                  </div>
                  
                  </div>


  <div class="col-md-4">
<div class="form-group mb-4">
<label for="">Enquiry Date</label>
<input type="date" formControlName="enq_date" class="form-control">

</div>
</div>



</div>


<div class="row">

  <div class="col-md-4">
                 <div class="form-group mb-4">
                   <label for="">Reference</label>
                   <input type="text" formControlName="enq_reference" class="form-control">
                 
                 </div>
                 
                 </div>


 <div class="col-md-4">
<div class="form-group mb-4">
  <label for="">Sales Co-ordinator</label>
  <select  formControlName="enq_sales_co_ord" class="form-control">
    <option>Amount</option>
    <option>Qty</option>
  
  
  </select>

</div>
</div>
<div class="col-md-3">
  <div class="form-group mb-4">
  <label for="">Status</label>
  <select  formControlName="status" class="form-control">
    <option >Non Quotable</option>
    <option>Quotable</option>
  
  
  </select>
  
  </div>
  </div>



</div>


<hr>
<div class="outer-wrapper">
<div class="table-wrapper">
<table class="table table-bordered ">

<thead class="text-center">
   <tr class="table-success" >
    
    <th>SNo</th>
     
    
    
      <!-- <th>Item</th>
      <th>Salesmen</th>
      <th>Customer Email</th> -->
      <th>Est #</th>
     
     <th>Description</th>
     <th>Sub Item</th>
     <th>Pack Unit</th>
     <th>Pack Qty</th>
     <th>Unit</th>
     <th>Quanity</th>
     <th>Rate</th>
     <th>Amount</th>
     <th>Discount</th>
     <th>TaxCode</th>
     <th>TaxRate</th>
     <th>Taxable</th>
     <th>TaxAmount</th>
     <th>Cess Rate</th>
     <th>Cess Amount</th>
     <th>MRP</th>
     <th>Net Rate</th>
     <th>Itembalance</th>
     <th>Model No</th>
     <th>IGST</th>
     <th>CGST</th>
     <th>SGST</th>
     <th>HSN Code</th>
     <th>Model</th>
     <!-- <th>Action</th> -->
   
</thead>
<tbody>
   
  <tr>
    <tr  class="text-center">
      <td>1</td>
      <td>abc</td>
      <td>siudhhhhhhhhhhhhhhhhhhhhhhh</td>
      <td>1idu</td>
      <td>udd</td>
      <td>ooo</td>
      <td>ee</td>
      <td>eejek</td>
      <td>wer</td>
      <td>ddk</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
  
     <!-- <tr *ngFor="let cust of customer" class="text-center"> -->
         <!-- <td>{{cust.cust_name}}</td>
         <td>{{cust.gst_num}}</td>
         <td>{{cust.cust_phn}}</td>
         <td>{{cust.country}}</td>
         <td>{{cust.city}}</td>
       
         <td>{{cust.cust_email}}</td> -->
        

    
        
     </tr>
     <tr  class="text-center">
      <td>1</td>
      <td>abc</td>
      <td>siud</td>
      <td>1idu</td>
      <td>udd</td>
      <td>ooo</td>
      <td>ee</td>
      <td>eejek</td>
      <td>wer</td>
      <td>ddk</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      <td>iidj</td>
      
     <!-- <tr *ngFor="let cust of customer" class="text-center"> -->
         <!-- <td>{{cust.cust_name}}</td>
         <td>{{cust.gst_num}}</td>
         <td>{{cust.cust_phn}}</td>
         <td>{{cust.country}}</td>
         <td>{{cust.city}}</td>
       
         <td>{{cust.cust_email}}</td> -->
        

    
        
     </tr>


 

   

</tbody>

</table>

</div>
</div><br>

<div class="py-10">
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-18">
    
           <div class="card shadow">
      
            <div class="card-header">
                <h2 class="text-center">-- Follow-Up --</h2>
            </div><br>

<form novalidate [formGroup]="FormGroup">
<div class="row">
    <div class="col-xs-12">
        <div formGroupName="itemRows">
       
        <div  *ngIf="FormGroup.controls.itemRows!=null">
            <div *ngFor="let itemrow of FormGroup.controls.itemRows.controls; let i=index" [formGroupName]="i">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <input matInput placeholder="Sl.No" formControlName="Sl.No" class="form-control">
                    </div>
                    <div class="col-md-2 form-group">
                        <input matInput placeholder="Person_name" formControlName="Person_name" class="form-control">
                    </div>
                    <div class="col-md-2 form-group">
                        <input matInput placeholder="Date" formControlName="Date" class="form-control">
                    </div>
                    <div class="col-md-2 form-group">
                        <input matInput placeholder="Remarks" formControlName="Remarks" class="form-control">
                    </div>


                <div class="col-md-4 from-group">
                    <button (click)="deleteRow(i)" class="btn btn-danger">
                        <mat-icon>delete</mat-icon>
                    </button>&nbsp;

                    
                        <button type="button" (click)="addNewRow()" [disabled]="FormGroup.invalid" class="btn btn-primary">
                            <mat-icon>add</mat-icon>
                        </button>&nbsp;
                        <!-- <button type="button" (click)="onSubmit()" class="btn btn-success">
                            <mat-icon>save</mat-icon>
                        </button><br>&nbsp; -->
                    

                        
                </div>
              
        </div>
        
            </div>
            <div class="from-group text-center">
              <button type="submit" (click)="onSubmit()" class="btn btn-success">Save</button>&nbsp;
              <a class="btn btn-danger" href="list-followup" >Cancel</a>
              <!-- <a href="password-reset.php" class="float-end">Forgot Your Password?</a> -->
            </div>
        </div>
        </div>
    </div>
</div>
</form>

</div>