
<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
    
            <div class="col-md-6">
        
               <div class="card shadow">
          
                <div class="card-header text-center">
                    <h2>Status</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="addstatus" novalidate class="form">

                        <div class="form-group mb-3">
                            <label for="">Status Name</label>
                            <input type="text" formControlName="status_name" class="form-control">
    
                        </div>
    
                        <div class="form-group mb-3">
                            <label for="">Status Description</label>
                            <input type="text" formControlName="status_desc" class="form-control">
    
                        </div>
                        
                        
                        
                        <div class="from-group text-center">
                            <button type="submit" (click)="onSubmit()" class="btn btn-success">Save</button>&nbsp;
                            <a class="btn btn-danger" href="list-status" >Cancel</a>
                            <!-- <a href="password-reset.php" class="float-end">Forgot Your Password?</a> -->
    
                        </div>
    </form>
    <hr>
  
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
   