<div class="container mt-10">



   

   <div class="row">
   <div class="col-md-11" >
    

         <div class="card ">

            <div class="card-header">
             
               <h2 class="text-center"> -- ESTIMATE LIST --</h2>
               <h4>
                  <a href="add-estimate" class="btn btn-primary float-end">Add Estimate</a>&nbsp;
                </h4>
                <br>
                <input type="text"  class="form-control" placeholder="search" [(ngModel)]="searchText">
             
            </div>
            

            <div class="card-body">
           

               <form action="code1.php" method="POST">
                   

                  <table class="table table-bordered ">

                     <thead class="text-center">
                        <tr >
                      

                           <th>GST Category</th>
                           <!-- <th>Item</th>
                           <th>Salesmen</th>
                           <th>Customer Email</th> -->
                        
                          <th>Salesmen</th>
                          <th>Estimate Date</th>
                          <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        
                       <tr>
                          <tr *ngFor="let est of estimate | search: searchText" class="text-center">
                              <td>{{est.est_gst_cat}}</td>
                              <td>{{est.est_salesmen}}</td>
                              <td>{{est.est_date}}</td>
                              <!-- <td>{{cust.gst_num}}</td> -->
                              <!-- <td>{{cust.cust_phn}}</td> -->
                              <!-- <td>{{cust.country}}</td> -->
                              <!-- <td>{{cust.city}}</td> -->
                            
                              <!-- <td>{{cust.cust_email}}</td> -->
                             
           
                              <td>
                                <a href="edit-estimate/{{est._id}}">
                                    <mat-icon>edit</mat-icon></a> &nbsp;
                
                                    <a (click)=" softRoles(est)">
                                        <mat-icon>delete</mat-icon></a>
                                </td>
                          </tr>


                      

                        

                     </tbody>

                  </table>
               </form>


            </div>
         </div>
      </div>
   </div>
</div>